<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="cs">
    <meta charset="UTF-8"/>
    <title>Weather Api - Spring</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1 th:text="'Weather in ' + ${About0neCity.getLocation()}"> </h1>
<main>
    <article>
        <section>
            <p>
                <span th:text="${About0neCity.getTimestamp().getDayOfWeek()}"></span>
                <span th:text="${About0neCity.getTimestamp().getDayOfMonth()}+'. '+${About0neCity.getTimestamp().getMonth()}+'. '+${About0neCity.getTimestamp().getYear()}"></span>
            </p>
            <p class="actualWeather">
                <span  th:text="${About0neCity.getWeather_description()}"></span>
                <span  th:text="${About0neCity.getTemp_celsius()}+'°C'"></span>
            </p>
            <p>
                <span>Humadity: </span>
                <span  th:text="${About0neCity.getRel_humadity()} + '%'"></span>
            </p>
            <p>
                <span>Wind direction:  </span>
                <span  th:text="${About0neCity.getWind_direction()}"></span>
            </p>
            <p>
                <span>Wind speed:  </span>
                <span  th:text="${About0neCity.getWindSpeed_mps()} + ' mps'"></span>
            </p>
        </section>
        <img th:src="'/Images/'+ ${#strings.toLowerCase(About0neCity.getLocation().replace(' ','_'))} + '.png'" />
        <a class="back" href="/">Back to All Cities</a>
    </article>

</main>
<footer>
    <p class="footer">MirSikora &copy; 2024</p>
</footer>

</body>
</html>